{% extends "third/base.html" %}
{% load blog_tags %}

{% block head_content %}
<link href="/static/css/starter-template.css" rel="stylesheet">
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <nav class="navbar">
    </nav>

    <div class="container">
        <div class="row">
        <div class="col-lg-8">

            <article class="post post-2">
            <header class="entry-header">
            <h1 class="entry-title text-center">{{ post.title }}</h1>
            <div class="entry-meta text-center">
                <span class="post-category">
                    <a href="#">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link">
                    <a href="#">216 评论</a></span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
            </div>
            </header>
            <div class="entry-content clearfix">
             {{ post.content|safe }}
            </div></article></div>

        <div class="col-lg-4">

            <div class="widget widget-recent-posts">
                    <h3>最新文章</h3>
                    {%  get_recent_posts as recent_post_list %}
                    <ul>
                    {% for post in recent_post_list %}
                            <li>
                                <a href="{% url 'third:detail' post.id %}">{{ post.title }}</a>
                            </li>
                    {% endfor %}
                    </ul>
                </div>
            <div class="widget widget-archives">
                    <h3>归档</h3>
                    {% archives as date_list %}
                    {% for date in date_list %}
                    <ul>

                            <li>
                                <a href="{% url 'third:archives' date.year date.month %}">{{ date.year }}
                                    年{{ date.month }}月</a>
                            </li>

                    </ul>
                    {% endfor %}
                </div>

            <div class="widget widget-category">
                    <h3>分类</h3>
                    {% get_categories as category_list %}
                    {% for category in category_list %}
                    <ul>

                            <li>
                                <a href="{% url 'third:category' category.id %}">{{ category.name }} <span class="post-count">(2)</span></a>
                            </li>

                    </ul>
                    {% endfor %}
            </div>

            <div class="widget widget-tag-cloud">
                    <h3>标签云</h3>

                    <ul>

                            <li>
                                <a href="#">Django</a>
                            </li>

                            <li>
                                <a href="#">Python</a>
                            </li>

                            <li>
                                <a href="#">教程</a>
                            </li>

                            <li>
                                <a href="#">test</a>
                            </li>

                            <li>
                                <a href="#">Hello Word</a>
                            </li>

                            <li>
                                <a href="#">Pythonzhcn</a>
                            </li>

                    </ul>
            </div>

        </div>
    </div>
</div>

{% endblock %}
