{% extends "third/base.html" %}

{% block head_content %}
<link href="/static/css/starter-template.css" rel="stylesheet">
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'third:index' %}">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'third:index' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        	<ul class="nav navbar-nav navbar-right">
        		<li class="sign-up-li">
        			<a class="log-in-btn" href="{% url 'third:signin' %}">登录</a>
        		</li>
        		<li class="sign-up-li">
        			<a class="sign-up-btn" href="{% url 'third:signup' %}">注册</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
        <div class="col-xs-4 col-md-offset-4">
          <form action="" method="post">
            <br><br><br><br>
            <h3>登陆</h3>

            {% if errors %}
            <ul style="color: red;">
              {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>

            {% endif %}

            <div class="form-group">{{ form.email }}</div>
          <div class="form-group">{{ form.password }}</div>
          <input type="submit" name="commit" value="登 陆" class="btn btn-primary btn-block">
          </form>

        <div class="text-center">
          <br>
          <span> 忘记密码 <a target="_blank" href="#">使用条款</a> </span>
          <hr>
          <span>还没有帐号？</span><a href="{% url 'third:signup' %}">注册</a>
        </div>
        </div><!-- /.container --></div>

{% endblock %}