{% extends "third/base.html" %}

{% block head_content %}
<link href="/static/css/starter-template.css" rel="stylesheet">
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <nav class="navbar">
    </nav>

    <div class="lp-product-line">
        <div class="container">
        <div class="row text-center">

        <div class="col-md-3 lp-product-line-box">
        <a href="{% url 'third:toolname' 'mortage' %}">
          <div class="lp-product-line-box-content lp-api">
            <h4>商业贷款计算</h4>
            <p class="lp-product-line-off">等额本息／等额本金</p>
            <span class="lp-product-line-hover">立即前往</span>
          </div>
        </a>
        </div>

        <div class="col-md-3 lp-product-line-box">
        <a href="{% url 'third:toolname' 'compound' %}">
          <div class="lp-product-line-box-content lp-api">
            <h4>复利计算</h4>
            <p class="lp-product-line-off">F=P（1+i）^n </p>
            <span class="lp-product-line-hover">立即前往</span>
          </div>
        </a>
        </div>

        <div class="col-md-3 lp-product-line-box">
        <a href="{% url 'third:toolname' 'bmi' %}">
          <div class="lp-product-line-box-content lp-api">
            <h4>BMI计算</h4>
            <p class="lp-product-line-off">BMI=体重（kg）/身高^2（m）</p>
            <span class="lp-product-line-hover">立即前往</span>
          </div>
        </a>
        </div>
        </div>



        </div>


        </div>
    </div>
{% endblock %}